:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #11081f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
.dontRead {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #27e9fa;

  justify-content: space-evenly;
}
.mainContent {
  max-width: 600px;
  display: flex;
  justify-content: center;
}
.parentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.questionBox {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.questionBox Button {
  width: 180px;
  height: 40px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #27e9fa;
  outline: none;
  transition: 0.5s ease-in-out;
  margin: 10px;
  border-radius: 0px;
}
.questionBox Button:hover {
  background-color: #16c3d3;
  font-size: 17px;
}
